@import url(./common.css);
@import url(./body.css);
@import url(./clock.css);
@import url(./loadMoreBtn.css);
@import url(./modal.css);
@import url(./button.css);
@import url(./pagination-buttons.css);


.todo-form {
  margin-bottom: 10px;
}

.todo-item {
  min-width: 50vw;
  background: #faff61c4;
  margin: 5px 0px;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 4px;
}

.todo-add {
  display: block;
  margin-bottom: 10px;
  color: rgb(14, 14, 54);
  font-weight: bold;
  font-size: 17px;
}

.todo-add__input {
  border-radius: 4px;
  height: 40px;
  width: 50%;
  border: 2px solid green;
  font-size: 18px;
  color: #0f991d;
  background-color: rgb(206, 236, 206);
}

.todo-filter__label {
  color: rgb(14, 14, 54);
  font-weight: bold;
}
.todo-filter__label:not(:last-child) {
  margin-right: 10px;
}

.todo-filter__input,
.total-page {
  border-radius: 4px;
  min-width: 170px;
  height: 30px;
  border: 2px solid green;
  color: #000000;
  box-sizing: border-box;
}

.todo-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.todo-open {
  cursor: pointer;
  border-color: #a2d2ee;
}

.todo__data {
  font-size: 14px;
  margin-right: auto;
  font-family: 'Courier New', Courier, monospace;
  color: #0f991d;
}

.todo__text {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.todo__input {
  cursor: pointer;
}

.total-page {
  justify-content: center;
  background-color: #FFC800;
  align-items: center;
  display: flex;
  padding: 0 5px;
  font-family: cursive;
  font-weight: 400;
}
